* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #264653;
  font-family: 'Roboto', sans-serif;
}

#title {
  margin-bottom: 20px;
  font-size: 30px;
  text-align: center;
}

.container {
  max-width: 400px;
  margin: 200px auto;
  background-color: white;
  padding: 2rem;
  border-radius: 10px;
  color: #264653;
}

#input-box {
  width: 100%;
  padding: 8px;
  border: none;
  border-bottom: 2px solid #264653;
  outline: none;
  margin-bottom: 16px;
  font-size: 16px;
  color: #264653;
  font-family: inherit;
}

.convert-wrapper {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  font-size: 19px;
  margin-bottom: 32px;
  color: #264653;
}

.convert-wrapper span {
  border-bottom: 3px solid #264653;
}

#degree {
  width: 150px;
  padding: 10px;
  font-size: 16px;
  color: #264653;
  font-family: inherit;
}

#convert-btn {
  width: 100%;
  padding: 12px;
  border-radius: 8px;
  outline: none;
  border: none;
  background-color: #264653;
  color: #fff;
  font-size: 19px;
  display: block;
  margin: 0 auto;
  margin-bottom: 20px;
  transform: scale(1);
  transition: transform 0.3s;
}

#convert-btn:active {
  transform: scale(0.91) scaleX(0.91);
}

#result {
  text-align: center;
}

::placeholder {
  font-size: 16px;
}
